In [1]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
# We here include zip function along with the list function
## this will create alist of tuple pairs

hier_index = list(zip(outside,inside))

## 
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])
#  Then we create different levels of indexing

In [8]:
df

             A         B
G1 1  1.528596 -0.103872
   2 -1.796281 -0.281787
   3 -2.008764 -1.735179
G2 1  1.320350  0.497088
   2 -0.143531 -0.076196
   3  0.473374  0.299723

In [10]:
df.loc['G1']

          A         B
1  1.528596 -0.103872
2 -1.796281 -0.281787
3 -2.008764 -1.735179

In [11]:
### we can also name the indexes by using .index.names

df.index.names =  ['Groups', 'Num']

In [12]:
df

                   A         B
Groups Num
G1     1    1.528596 -0.103872
       2   -1.796281 -0.281787
       3   -2.008764 -1.735179
G2     1    1.320350  0.497088
       2   -0.143531 -0.076196
       3    0.473374  0.299723

In [14]:
## for grabing any value of the matrice we need to start from the outside and walk in

df.loc['G2'].loc[2]['B']

-0.07619593835066356

In [16]:
## we can grab values by a cross selection using .xs()
#### We must specify  de row number and the name of the level we want to grab from

df.xs(1, level='Num')

               A         B
Groups
G1      1.528596 -0.103872
G2      1.320350  0.497088