In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
b = pd.read_csv('train_labels.csv')

In [3]:
b.head()

,planet_id,wl_1,wl_2,wl_3,wl_4,wl_5,wl_6,wl_7,wl_8,wl_9,...,wl_274,wl_275,wl_276,wl_277,wl_278,wl_279,wl_280,wl_281,wl_282,wl_283
0,785834,0.001086,0.001137,0.001131,0.001124,0.001138,0.001131,0.001123,0.001127,0.001120,...,0.001075,0.001076,0.001076,0.001076,0.001074,0.001073,0.001072,0.001073,0.001073,0.001072
1,14485303,0.001835,0.001835,0.001834,0.001833,0.001833,0.001833,0.001833,0.001834,0.001834,...,0.001893,0.001892,0.001892,0.001891,0.001891,0.001891,0.001890,0.001890,0.001889,0.001888
2,17002355,0.002792,0.002814,0.002808,0.002804,0.002809,0.002805,0.002802,0.002805,0.002801,...,0.002784,0.002783,0.002783,0.002783,0.002783,0.002784,0.002784,0.002785,0.002785,0.002784
3,24135240,0.001294,0.001308,0.001308,0.001306,0.001306,0.001303,0.001306,0.001314,0.001314,...,0.001405,0.001404,0.001403,0.001402,0.001401,0.001400,0.001399,0.001397,0.001395,0.001393
4,25070640,0.001987,0.001987,0.001987,0.001987,0.001987,0.001987,0.001987,0.001987,0.001987,...,0.001988,0.001988,0.001988,0.001988,0.001988,0.001988,0.001988,0.001988,0.001988,0.001988

In [4]:
d=pd.read_csv('train_adc_info.csv')

In [6]:
d

,planet_id,FGS1_adc_offset,FGS1_adc_gain,AIRS-CH0_adc_offset,AIRS-CH0_adc_gain,star
0,785834,-343.335938,0.837244,-778.916533,0.924746,1
1,14485303,-366.381992,0.842983,-740.323212,0.931727,1
2,17002355,-386.107037,1.041701,-808.690659,1.513541,0
3,24135240,-339.737490,0.840239,-776.124167,0.931277,1
4,25070640,-355.660433,1.041280,-848.371494,1.503923,0
...,...,...,...,...,...,...
668,4249337798,-343.249428,0.856713,-881.907525,0.931115,1
669,4257395405,-321.834060,1.043631,-824.457988,1.523148,0
670,4266129805,-359.583003,1.027149,-883.219918,1.517923,0
671,4273166473,-340.156841,1.037533,-856.451284,1.519154,0
672,4286133832,-335.887779,0.837625,-860.803842,0.932075,1